<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="很久以後，你會記住2021年的哪些畫面？很久以後，我們會說2022年是回歸「正常」的開始嗎？一年末、一年始，與你分享從世界各地漂流過來的一些故事……">
    <meta property="og:title" content="寫下你的漂流瓶，與他方故事一起，等待2022｜端傳媒 Initium Media">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://theinitium.com/project/20211227-international-message-in-a-bottle-2021-2022/img/thumb.jpg">
    <meta property="og:url" content="https://theinitium.com/project/20211227-international-message-in-a-bottle-2021-2022">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="很久以後，你會記住2021年的哪些畫面？很久以後，我們會說2022年是回歸「正常」的開始嗎？一年末、一年始，與你分享從世界各地漂流過來的一些故事……">
    <meta property="og:site_name" content="寫下你的漂流瓶，與他方故事一起，等待2022｜端傳媒 Initium Media">
    <meta name="twitter:image:alt" content="很久以後，你會記住2021年的哪些畫面？很久以後，我們會說2022年是回歸「正常」的開始嗎？一年末、一年始，與你分享從世界各地漂流過來的一些故事……">
    <meta property="fb:app_id" content="598152927924137">
    <meta name="twitter:site" content="@initiumnews">
    <title>寫下你的漂流瓶，與他方故事一起，等待2022｜端傳媒 Initium Media</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/app.min.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId            : '598152927924137',
      		autoLogAppEvents : true,
      		xfbml            : true,
      		version          : 'v12.0'
      	});
      };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>
      (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-65642613-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div class="popup" id="mask"></div>
      <div id="loading">
        <div class="d-flex justify-content-center align-items-center">
          <div class="container">
            <div class="text-center">
              <p>很久以後，你會記住2021年的哪些畫面？</p>
              <p>很久以後，我們會說2022年是回歸「正常」的開始嗎？</p>
              <p>一年末、一年始，與你分享從世界各地漂流過來的一些故事……</p>
            </div>
            <div class="bar"></div>
          </div>
        </div>
      </div>
      <nav id="nav">
        <div class="d-flex justify-content-between">
          <div class="logo"><a class="btn" href="/"></a></div>
          <div class="menu">
            <button class="btn" @click="menuDisplay(true)"></button>
          </div>
        </div>
      </nav>
      <main class="index" id="main">
        <div class="d-none">
          <figure><img src="img/cover-1.jpg"><img src="img/cover-2.jpg"><img src="img/cover-3.jpg"><img src="img/cover-4.jpg"><img src="img/cover-5.jpg"><img src="img/cover-6.jpg"><img src="img/cover-7.jpg"><img src="img/cover-8.jpg"><img src="img/cover-9.jpg"><img src="img/cover-10.jpg"><img src="img/cover-11.jpg"><img src="img/cover-12.jpg"><img src="img/cover-13.jpg"><img src="img/cover-14.jpg"><img src="img/cover-15.jpg"><img src="img/cover-16.jpg"><img src="img/cover-17.jpg"></figure>
        </div>
        <div class="d-none d-md-block" id="tips">scroll down</div>
        <div class="popup" id="menu">
          <div class="d-flex justify-content-center align-items-center">
            <div class="close" @click="menuDisplay(false)"></div>
            <div class="container">
              <div class="tool text-right" v-if="isMobile">
                <button class="btn back" @click="menuDisplay(false)"></button>
              </div>
              <div class="row">
                <div class="col-4 col-md-3 col-lg-2" v-for="(item, idx) in data" :key="`menu-${idx}`">
                  <div class="grid" :id="`grid-${item.id}`">
                    <div class="item d-flex justify-content-center align-items-center" @click="getMsg(item.id)" :class="item.id &lt;= 9 ? 'lamp' : item.id &lt;= 17 ? 'kol' : 'user'">
                      <div class="image"></div>
                      <div class="nametag">{{item.nickname}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="form">
          <div class="d-flex justify-content-center align-items-center">
            <div class="close" @click="formDisplay(false)"></div>
            <div class="inner">
              <div class="alert" v-if="form.alert &amp;&amp; isMobile">
                <p><b>小提醒：</b>建議使用電腦版撰寫漂流瓶，以完整體驗「留存圖檔」等功能。</p>
                <div class="buttons text-center">
                  <button class="btn" @click="form.alert = !form.alert">我知道了</button>
                </div>
              </div>
              <div class="tool text-right" v-if="isMobile">
                <button class="btn back" @click="formDisplay(false)"></button>
              </div>
              <div class="form-head">
                <p>那麼你呢？你會怎樣描述自己的2021？你在何時迷茫失望，又因為什麼而盎然有力？揭開日曆這一刻，你害怕2022嗎？還是有所期待？</p>
                <p>寫下屬於你的漂流瓶吧——再看一眼這個不安又飄忽的「limbo」般的一年，然後和我們一道等待下一個路口。書寫後可以下載、分享，也有機會出現在互動頁面上。</p>
              </div>
              <div class="form-body">
                <div class="form-group">
                  <div class="form-inline">
                    <label>名字</label>
                    <input class="form-control" type="text" v-model="form.nickname">
                  </div>
                </div>
                <div class="form-group">
                  <label>想寫的話（300字內）</label>
                  <textarea class="form-control" rows="5" maxlength="300" v-model="form.content"></textarea>
                </div>
                <div class="form-group">
                  <div class="form-inline">
                    <label>願意公開分享嗎</label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="share-a" type="radio" name="share" v-model="form.is_public" :value="true">
                      <label class="form-check-label" for="share-a">願意</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="share-b" type="radio" name="share" v-model="form.is_public" :value="false">
                      <label class="form-check-label" for="share-b">不，我希望這是給自己的話</label>
                    </div>
                  </div><small class="d-inline-block">勾選「願意」，將有機會由端傳媒選出，製成漂流瓶出現在頁面上</small>
                </div>
                <div class="buttons" :class="isMobile ? 'text-center' : 'text-right'">
                  <button class="btn preview" @click="letterDisplay(true)">預 覽</button>
                  <button class="btn g-recaptcha" data-sitekey="6Ldty7IdAAAAAEShQuYj5pEie9EAhMfsFhhzek9v" data-callback="onSubmit" data-action="submit" @click="postMsg">送 出</button>
                </div><span class="error d-block text-right" v-if="form.error">請完整填寫表單</span>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="letter">
          <div class="d-flex justify-content-center align-items-center">
            <div class="close" @click="letterDisplay(false)"></div>
            <div class="inner">
              <div class="tool text-right" v-if="isMobile">
                <button class="btn back" @click="letterDisplay(false)"></button>
              </div>
              <div class="capture" ref="capture">
                <div class="capture-head">
                  <h6>寫下你的漂流瓶<br>與他們的故事一起，等待2022</h6>
                </div>
                <div class="capture-body">
                  <div class="content">{{ form.content }}</div>
                  <div class="author text-right"><span>{{ form.nickname }}</span></div>
                </div>
                <div class="capture-foot d-flex justify-content-between">
                  <figure><img class="img-fluid" src="img/qrcode.png"></figure>
                  <figure><img class="img-fluid" src="img/logo-full.png"></figure>
                </div>
              </div>
              <div class="letter-foot text-center" v-if="tools"><a class="btn facebook" title="分享至 facebook" @click="shareDialogs"></a><a class="btn twitter" title="分享至 twitter" href="https://twitter.com/intent/tweet?url=https://theinitium.com/project/20211227-international-message-in-a-bottle-2021-2022/&amp;text=寫下你的漂流瓶，與他方故事一起，等待2022｜端傳媒 Initium Media" target="_blank"></a>
                <button class="btn download" title="下載你的漂流瓶" @click="printIt"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="paper" ref="paper">
          <div class="d-flex justify-content-center align-items-center">
            <div class="close" @click="paperDisplay(false)"></div>
            <div class="inner">
              <div class="tool text-right" v-if="isMobile">
                <button class="btn back" @click="paperDisplay(false)"></button>
              </div>
              <div v-if="paper.id &lt;= 17">
                <div class="paper-head">
                  <div class="cover">
                    <figure :id="`cover-${paper.id}`"></figure><span class="caption" v-if="figCaption">{{figCaption}}</span>
                  </div>
                  <div class="title text-center">
                    <h3>{{paper.nickname}}</h3>
                  </div>
                </div>
                <div class="paper-body">
                  <div class="content" v-html="paper.content"></div>
                </div>
                <div class="paper-foot text-center"><a class="btn facebook" title="分享至 facebook" :href="`https://www.facebook.com/sharer.php?u=https://theinitium.com/project/20211227-international-message-in-a-bottle-2021-2022/${paper.id}.html`" target="_blank"></a><a class="btn twitter" title="分享至 twitter" :href="`https://twitter.com/intent/tweet?url=https://theinitium.com/project/20211227-international-message-in-a-bottle-2021-2022/${paper.id}.html&amp;text=${paper.nickname}｜端傳媒 Initium Media`" target="_blank"></a><a class="btn like" title="點個喜歡！" v-if="!liked" @click="postLike(paper.id)"><span class="count">{{paper.like_count}}</span></a><a class="btn like active" v-else><span class="count">{{paper.like_count}}</span></a></div>
              </div>
              <div v-else>
                <div class="paper-head text-center">
                  <div class="title">
                    <h3>{{paper.nickname}}</h3>
                  </div>
                </div>
                <div class="paper-body">
                  <div class="content">{{paper.content}}</div>
                </div>
                <div class="paper-foot text-center"><a class="btn facebook" title="分享至 facebook" :href="`https://www.facebook.com/sharer.php?u=https://theinitium.com/project/20211227-international-message-in-a-bottle-2021-2022/?id=${paper.id}`" target="_blank"></a><a class="btn twitter" title="分享至 twitter" :href="`https://twitter.com/intent/tweet?url=https://theinitium.com/project/20211227-international-message-in-a-bottle-2021-2022/?id=${paper.id}&amp;text=寫下你的漂流瓶，與他方故事一起，等待2022｜端傳媒 Initium Media`" target="_blank"></a><a class="btn like" title="點個喜歡！" v-if="!liked" @click="postLike(paper.id)"><span class="count">{{paper.like_count}}</span></a><a class="btn like active" v-else><span class="count">{{paper.like_count}}</span></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="stage">
          <div class="scene scene-1 d-flex justify-content-center align-items-center">
            <div class="tool" v-if="isMobile">
              <button class="next" @click="nextStep(1)">下一步 １／５</button>
            </div>
            <section class="title">
              <div class="container">
                <h1>寫下你的漂流瓶，與他方故事一起，等待2022</h1>
              </div>
            </section>
          </div>
          <div class="scene scene-2 d-flex justify-content-center align-items-center">
            <div class="tool" v-if="isMobile">
              <button class="next" @click="nextStep(2)">下一步 ２／５</button>
            </div>
            <section class="intro">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-8">
                    <p>2021年的世界，仍然是大流行病肆虐的世界。</p>
                    <p>這一年，天各一方的我們，仍然邁不開腳步，仍然難以親眼看到遠方——甚至可能對世界失去了興趣，又或只能被動接受手機上那些紛擾又爆炸的訊息。</p>
                    <p>這個世界依然由無盡的、普通人的日常現實組成，但這些鮮活的周遭，卻在失去抵達彼此、牽連彼此的繩索。一面是天翻地覆的世界、一面是咫尺四周。</p>
                    <p>2021，不同境遇下的人們是怎麼過的？2022，會很不一樣嗎？</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="scene scene-3">
            <section class="teach">
              <div class="step step-1">
                <div class="tool" v-if="isMobile">
                  <button class="next" @click="nextStep(3)">下一步 ３／５</button>
                </div><span v-if="isMobile">水燈/漂流瓶：左右滑動，點擊閱讀他們的一年</span><span v-else>水燈/漂流瓶：點擊閱讀他們的一年</span>
              </div>
              <div class="step step-2">
                <div class="tool" v-if="isMobile">
                  <button class="next" @click="nextStep(4)">下一步 ４／５</button>
                </div><span>點擊書寫你想給此刻留下的話</span>
              </div>
              <div class="step step-3">
                <div class="tool" v-if="isMobile">
                  <button class="next" @click="nextStep(5)">開始瀏覽</button>
                </div><span>依序排列所有元件</span>
              </div>
            </section>
          </div>
          <div class="scene scene-4">
            <section class="river">
              <div class="view sky"></div>
              <div class="view sea">
                <div class="inner d-flex">
                  <div class="coupon">
                    <button class="btn starfish" @click="coupon = !coupon"></button>
                    <div class="box" v-if="coupon">
                      <div class="title d-flex justify-content-between align-items-center">
                        <h6>★ 一個小彩蛋</h6>
                        <button class="btn" @click="coupon = !coupon"></button>
                      </div>
                      <div class="text d-flex justify-content-between align-items-center"><span>加入端會員，首月半價！和 6 萬名會員一起識讀世界<br><small>（註冊/登入後即享）</small></span><a class="btn" href="http://bit.ly/3mMVPcj" target="_blank">查看優惠</a></div>
                    </div>
                  </div>
                  <div class="grid d-flex align-items-center" v-for="(item, idx) in shuffleArray" :key="`river-${idx}`" :id="`grid-${item.id}`">
                    <div class="item d-flex justify-content-center align-items-center" @click="getMsg(item.id)" :class="item.id &lt;= 9 ? 'lamp' : item.id &lt;= 17 ? 'kol' : 'user'">
                      <div class="image"></div>
                      <div class="nametag">{{item.nickname}}</div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="support d-flex justify-content-between">
                    <div class="text">
                      <h6>加入端傳媒，支持好新聞</h6><span>用你選擇的媒體，決定你看見的世界</span>
                    </div>
                    <div class="buttons"><a class="btn" href="https://theinitium.com/subscription/offers/?&amp;utm_source=initium&amp;utm_medium=initium&amp;utm_campaign=initium_project" target="_blank">付費支持</a></div>
                  </div>
                  <div class="credit">
                    <h6 class="text-center">製作團隊</h6>
                    <div class="d-flex justify-content-center">
                      <table>
                        <tbody>
                          <tr>
                            <th>插畫</th>
                            <td>Rosa Lee</td>
                          </tr>
                          <tr>
                            <th>設計</th>
                            <td>郭瑾燁</td>
                          </tr>
                          <tr>
                            <th>工程</th>
                            <td>Elk Leung、Vanna Huang</td>
                          </tr>
                          <tr>
                            <th>策劃</th>
                            <td>甯卉、Sherry</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="copyrights text-center"><span>©2021 Initium Media. All Rights Reserved.</span></div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer id="footer">
        <div class="buttons" :class="form.status ? 'active' : 'disabled'">
          <button class="btn" v-if="form.status" @click="formDisplay(true)"></button>
          <button class="btn" v-else @click="letterDisplay(true)"></button>
        </div>
      </footer>
    </div>
    <script data-cfasync="false" src="js/app.min.js"></script>
    <script>
      window.onload = function() {
          index.init();
      }
    </script>
  </body>
</html>